@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

body {
  font-family: 'PT Sans', sans-serif;
  background-image: url("https://github.com/Rynl684/FINALDRAFT1/blob/master/84774325-abstract-blue-background-texture-abstract-gradiant-blur-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #70C9C5;
}
