@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

body {
  font-family: 'PT Sans', sans-serif;
  background-image: url("https://github.com/Rynl684/FINALDRAFT1/blob/master/84774325-abstract-blue-background-texture-abstract-gradiant-blur-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #70C9C5;
}

.navbar {
  overflow:hidden;
  background-color: #FFB600;
}

.navbar a {
  float: left; 
  display: block;
  color: #1EDA38;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.navbar a:hover {
  background-color: 0013FF;
  color: #FF0032;
  
}

.navbar a.active {
  background color: #00FFF3;
  color: #FF00D4;
  
}
    
  
